@model Project.Models.User
<!DOCTYPE HTML>

  <body>
      
		 <!---start-content---->
		 <div class="content">
		 	<!---start-contact---->
             <li id="logout"><a href="~/User/Signout" style="color:white">Logout</a></li>
		 	<div class="contact">
		 		<div class="wrap">
				<div class="section group">				
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<h3>Find Us Here</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:0.85em">View Larger Map</a></small>
					   		</div>
      				</div>
      			<div class="Address">
				     	<h3>Address :</h3>
						    	<p>500 ,</p>
						   		<p>22-56-2-9 Mall Road, Lahore,</p>
						   		<p>Pakistan</p>
				   		<p>Phone:(00) 92 111 666 444</p>
				   		<p>Fax: (000) 92 00 00 0</p>
				 	 	
				   		<p>Follow on: <span><a href="http://www.facebook.com">Facebook</a></span>, <span><a href="http://www.twitter.com">Twitter</a></span></p>
				   </div>
                    </div>
                    </div>
                     </div>
                 </div>
				</div>				
				
		 	<!---End-contact---->
		 <!---End-content---->
                         }
	</body>

