 <!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
  <title>Multicusine  Website Template | Contact  :: W3layouts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    @Scripts.Render("~/bundles/jquery")
        <script>           

            $(document).ready(function () {
                alert("ready");
                $('#search').click(function () {
                    var value = $('#search1').val();
                    alert(value);
                    //$("#tbl").empty();
                    //$.getJSON('/User/Search?search=' + value, function (data) {
                      //  alert(data);
                        //var g = '';
                        //$.each(data, function (index, item) {
                          //  g = g + '<td></td>' + item.Name + '<td></td>' + '<td></td><img style="width: 70%;height: 200px; margin-top:20px;margin-bottom:10px;backgroung-size: 100% 100%" src="/images/' + item.Path + '"/></td></tr>'
                        //});
                        //$(g).appendTo($("#tbl"));
                        $('#div1').unload();
                        $('#div1').load("/User/SearchR?search=" + value);
                    //});
                });
            });
        
        </script>
 </head>
  <body>
      <div class="top-nav">
				<div class="top-nav-left">
					<ul>
						
						
						
						<li><a href="~/User/gallery">Items</a></li>
						<li class="active"><a href="~/User/contact">Search</a></li>
                        <li id="logout"><a href="~/User/Signout" style="color:white">Logout</a></li>
                        </ul>
					
            }
                 </div>                    
                    
          </div>
      <br />
      <br />
      <br />
					    <input type ="text" id="search1"/>
						<button id="search" >Search</button>
					
				</>
      <div id="div1">

          </div>
         

	</body>


