@model List<Project.Models.item>

@{
    ViewBag.Title = "search";
    Layout = null;
}

<table>
    <tr>
        <td style="color:white">
            Item Name:
        </td>
        <td style="color:white">
            Image:
        </td>
        <td style="color:white">
            Price:
        </td>
    </tr>
    @foreach (var i in Model)
    {
    <tr>
        <td style="color:white">
            @i.ItemName
        </td>
        <td>
            <img src="~/Images/@i.Path" />
        </td>
        <td style="color:white">
            @i.Price
        </td>
    </tr>
    }
</table>